* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f7f9;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #2f3542; 
  margin: 20px 0 40px 0;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.todo-app {
  background-color: #ffffff; 
  color: #2f3542;
  width: 400px;
  height: 500px;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
}

.btn {
  cursor: pointer;
  width: 100px;
  margin: 10px;
  color: white;
  background-color: #57606f;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  padding: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.btn:active {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  background-color: #2ed573;
  transform: scale(1.05);
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease;
}

.large-btn {
  width: 80%;
  font-size: 1.2rem;
  align-self: center;
  justify-self: center;
}

.close-task-form-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.close-icon {
  width: 25px;
  height: 25px;
}

.close-icon:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

.task-form {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f2f6;
  color: #2f3542;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 15px;
  width: 300px;
  height: 350px;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.task-form-header {
  display: flex;
  justify-content: flex-end;
}

.task-form-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  

}

.task-form-footer {
  display: flex;
  justify-content: center;
}

.task-form-label,
#title-input,
#date-input,
#description-input {
  display: block;
}

.task-form-label {
  margin-bottom: 5px;
  font-size: 1.3rem;
  font-weight: bold;
}

#title-input,
#date-input,
#description-input {
  width: 100%;
  margin-bottom: 10px;
  padding: 2px;
  border: 1px solid #ced6e0;
  border-radius: 4px;
}

#confirm-close-dialog {
  padding: 10px;
  align-self: center;
  justify-self: center;
  border-radius: 15px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.confirm-close-dialog-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.discard-message-text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

#discard-btn,
.delete-btn {
  background-color: #ff6b6b;
  color: white;
  cursor: pointer;
}

#cancel-btn,
.edit-btn {
  background-color: #1e90ff;
  color: white;
  cursor: pointer;
}

.edit-btn,
.delete-btn {
  height: 1.5rem;
  width: 4rem;
  font-size: 0.85rem;
}

.edit-btn:hover{
  background-color: #3742fa;
  transform: scale(1.05);
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.delete-btn:hover {
  background-color: #c23616;
  transform: scale(1.05);
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#tasks-container {
  height: 100%;
  overflow-y: auto;
}

.task {
  font-family: 'roboto', sans-serif;
  margin: 5px 0;
  color: #2f3542;
  border-bottom: 2px solid #dfe4ea;
  padding: 10px;
  margin: 0px auto 0px auto;
  background-color: #dff9fb;
  border-radius: 4px;
}

.hidden {
  display: none;
}

.task-form-label {
  font-size: 1.5rem;
}

#title-input,
#date-input {
  height: 2rem;
}

#title-input,
#date-input,
#description-input {
  padding: 5px;
  margin-bottom: 20px;
}
